# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

backend/venv
backend/__pycache__
backend/models/__pycache__
backend/routers/__pycache__
backend/schemas/__pycache__